<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <div *ngFor="let item of getFederalStates()">
    <mat-nav-list>
      <img style="padding: 13px 0px 0px 10px;margin: -4px;" class='live_trash' src="{{getFlagImg(item.federalStatesExtensionEnum)}}" alt='${item}'/>
      <a [routerLink]="['/dashboard', item.displayName, item.federalStatesExtensionEnum]">{{item.displayName | titlecase}}</a>
      <!--<mat-nav-list *ngFor="let item of municipios">-->
      <mat-nav-list *ngFor="let itemR of getRegion(item.federalStatesExtensionEnum)">
        <a [routerLink]="['/dashboard', itemR.displayName, itemR.regionExtensionEnum]" class="nav-item-r">{{itemR.displayName | titlecase}}</a>
      </mat-nav-list>
    </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Riesgo de despoblación en España</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
