<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="card-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Iniciar sesión</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-form-field appearance="fill" class="center">
            <mat-label>Usuario</mat-label>
            <span>Usuario</span>
            <input type="text" formControlName="username" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"/>
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
              <div *ngIf="f['username'].errors['required']">Username is required</div>
            </div>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="center">
            <mat-label>Contraseña</mat-label>
            <span>Contraseña</span>
            <input type="password" formControlName="password" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
              <div *ngIf="f['password'].errors['required']">Password is required</div>
            </div>
          </mat-form-field>

          <button mat-raised-button color="primary" style="margin-left: 30%">Login</button>
        </mat-card-content>
      </mat-card>
  </div>
</form>
